{# @var flare \HeimrichHannot\FlareBundle\ListView\ListViewDto #}
{% extends '@Contao/block_searchable.html5' %}

{% block content %}

    {#
        flare = flare(list_model, {
            pagination: pagi_settings,
            form_name: form_name,
        })

        flare.entries
        flare.paginator
    #}

    {% block filter %}

        {% set form = flare_form(flare) %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ 'submit'|trans([], 'flare_form') }}</button>
        {{ form_end(form) }}

    {% endblock %}

    <hr>

    {% block list %}

        {% for entry in flare.entries %}
            <details>
                <summary>#{{ entry.id }} {{ entry.title ?? entry.email ?? entry.alias ?? ('<' ~ loop.index ~ '>') }}</summary>
                {{ dump(entry) }}
            </details>
        {% endfor %}

    {% endblock %}

    <hr>

    {% block pagination %}
        {# @var \HeimrichHannot\FlareBundle\Paginator\Paginator paginator #}
        {% set paginator = flare.paginator %}
        <nav>
            <p>page {{ paginator.currentPageNumber }} / {{ paginator.lastPageNumber }} showing {{ paginator.itemsPerPage ?: 'all' }} items per page ({{ paginator.firstItemNumber }} to {{ paginator.lastItemNumber }}) of {{ paginator.totalItems }} in total</p>
            <ul class="pagination">
                {# @var \HeimrichHannot\FlareBundle\Paginator\PageItem page #}
                <li class="page-item {% if not paginator.previousPage %}disabled{% endif %}">
                    <a href="{{ paginator.previous.url|default('#') }}" class="page-link">&#12296;</a>
                </li>
                {% for page in paginator.board(3, 1) %}
                    <li class="page-item {% if page.current %}active{% endif %} {% if page.ellipsis %}disabled{% endif %}">
                        {% if not page.ellipsis %}
                            <a href="{{ page.url }}" class="page-link">{{ page.number }}</a>
                        {% else %}
                            <span class="page-link">&hellip;</span>
                        {% endif %}
                    </li>
                {% endfor %}
                <li class="page-item {% if not paginator.nextPage %}disabled{% endif %}">
                    <a href="{{ paginator.next.url|default('#') }}" class="page-link">&#12297;</a>
                </li>
            </ul>
        </nav>
    {% endblock %}

{% endblock %}
