{% extends '@Contao/block_searchable.html5' %}

{% block content %}

    {% block filter %}
        {% set form = flare_form(list_model, form_name) %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ 'submit'|trans([], 'flare_form') }}</button>
        {{ form_end(form) }}
    {% endblock %}

    <hr>

    {% block list %}
        {% for entry in flare_list(list_model, form_name) %}
            <details>
                <summary>#{{ entry.id }} {{ entry.title ?? entry.email ?? entry.alias ?? ('<' ~ loop.index ~ '>') }}</summary>
                {{ dump(entry) }}
            </details>
        {% endfor %}
    {% endblock %}

    <hr>

    {% block pagination %}

    {% endblock %}

{% endblock %}
