{# @var flare \HeimrichHannot\FlareBundle\ListView\ListViewDto #}
{% extends '@Contao/block_searchable.html5' %}

{% block content %}

    {#
        flare = flare(list_model, {
            pagination: pagi_settings,
            form_name: form_name,
        })

        flare.entries
        flare.paginator
    #}

    {% block filter %}

        {% set form = flare_form(flare) %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ 'submit'|trans([], 'flare_form') }}</button>
        {{ form_end(form) }}

    {% endblock %}

    <hr>

    {% block list %}

        {% for entry in flare.entries %}
            <details>
                <summary>#{{ entry.id }} {{ entry.title ?? entry.email ?? entry.alias ?? ('<' ~ loop.index ~ '>') }}</summary>
                {{ dump(entry) }}
            </details>
        {% endfor %}

    {% endblock %}

    <hr>

    {% block pagination %}
        {# @var \HeimrichHannot\FlareBundle\Paginator\Paginator paginator #}
        {% include '@Contao/flare/paginator/bs5.html.twig' with { paginator: flare.paginator } %}
    {% endblock %}

{% endblock %}
