{# @var \HeimrichHannot\FlareBundle\Paginator\Paginator paginator #}
{% import '@HeimrichHannotFlare/_paginator_styles.html.twig' as paginator_styles %}
{% block paginator %}
    <nav class="flare_paginator">
        <ul class="flare_paginator__list">
            {% block previous %}
                <li class="flare_paginator__item flare_paginator__item--previous{% if not paginator.previousPage %} flare_paginator__item--disabled{% endif %}">
                    {% block previous_content %}
                        {% if paginator.previous.url|default %}
                            <a href="{{ paginator.previous.url }}" class="flare_paginator__link flare_paginator__link--page">{{ labels.previous_page ?? '&#12296;' }}</a>
                        {% else %}
                            <del class="flare_paginator__link flare_paginator__link--page">{{ labels.previous_page ?? '&#12296;' }}</del>
                        {% endif %}
                    {% endblock %}
                </li>
            {% endblock %}
            {% block page_items %}
                {% for page in paginator.navigation %}
                    {# @var \HeimrichHannot\FlareBundle\Paginator\PageItem page #}
                    <li class="flare_paginator__item{% if page.current %} flare_paginator__item--active{% endif %}{% if page.ellipsis %} flare_paginator__item--disabled{% endif %}{% if page.filler %} flare_paginator__item--filler{% endif %}">
                        {% if page.ellipsis %}
                            <span class="flare_paginator__link flare-paginator__link--ellipsis">&hellip;</span>
                        {% else %}
                            {% if page.current %}<strong>{% endif %}
                            <a href="{{ page.url }}" class="flare_paginator__link flare_paginator__link--page">{{ page.number }}</a>
                            {% if page.current %}</strong>{% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            {% endblock %}
            {% block next %}
                <li class="flare_paginator__item flare_paginator__item--next{% if not paginator.nextPage %} flare_paginator__item--disabled{% endif %}">
                    {% block next_content %}
                        {% if paginator.next.url|default %}
                            <a href="{{ paginator.next.url }}" class="flare_paginator__link flare_paginator__link--page">{{ labels.next_page ?? '&#12297;' }}</a>
                        {% else %}
                            <del class="flare_paginator__link flare_paginator__link--page">{{ labels.next_page ?? '&#12297;' }}</del>
                        {% endif %}
                    {% endblock %}
                </li>
            {% endblock %}
        </ul>
    </nav>
{% endblock %}
{% block below %}
    {% if use_default_styles and flare_env.contao5 %}
        {% add "flare_paginator_default" to stylesheets %}
            {{ paginator_styles.default_styles() }}
        {% endadd %}
    {% elseif use_default_styles %}
        {{ paginator_styles.default_styles() }}
    {% endif %}
{% endblock %}